{% extends "layouts/app.html" %}
{% block content %}
<section class="content">
    <div class="jumbotron">
        <div class="container">
            <h2>Selamat datang di Smart Publication</h2>
            <p>Smart Publication adalah aplikasi yang membantumu dalam mencari informasi publikasi jurnal oleh dosen maupun mahasiswa, terutama semua unsur warga jurusan Teknik Informatika UIN MAULANA MALIK IBRAHIM MALANG</p>
            <p>
                <a href="/login" class="btn btn-primary btn-lg">Coba sekarang</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}